/* Profile page container */
.profile-page {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Unbounded', sans-serif;
}

/* Breadcrumbs */
.breadcrumbs {
  font-size: 1rem;
  color: #001A45;
  margin-bottom: 1rem;
}

.breadcrumbs a {
  color: #001A45;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs span {
  color: #001A45;
}

/* Profile header */
.profile-header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.profile-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Ensures the image is displayed as a circle */
}

.profile-header .choose-photo {
  padding: 10px 20px;
  border: 1px solid #001A45;
  border-radius: 10px;
  background-color: white;
  color: #001A45;
  cursor: pointer;
  font-family: 'Unbounded', sans-serif;
}

.profile-header .choose-photo:hover {
  background-color: #f0f8ff;
}

/* Profile form */
.profile-form {
  display: flex;
  flex-direction: column; /* Adjusting for better responsiveness on small screens */
  gap: 2rem;
}

.profile-form .form-group {
  flex: 1;
  min-width: 250px; /* Increased minimum width for better field visibility */
}

.profile-form label {
  display: block;
  font-weight: bold;
  color: #001A45;
  margin-bottom: 0.5rem;
}

.profile-form input, .profile-form .choose-photo {
  width: 100%;
  padding: 0.8rem; /* Increased padding for better clickability and readability */
  border: 1px solid #001A45;
  border-radius: 5px;
  font-size: 1rem;
  color: #001A45;
}

.profile-form input[type="password"] {
  padding-right: 2.5rem; /* Space for the eye icon */
}

.profile-form .eye-icon {
  position: absolute;
  right: 30px; /* Adjusted for better alignment with input field */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #001A45;
}

/* Save changes button */
.save-changes {
  background-color: #b5f62b;
  color: #001A45;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 2rem;
}

.save-changes:hover {
  background-color: #c9ff57;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow on hover for better visual feedback */
}

@media (min-width: 768px) {
  /* Adjustments for tablets and desktops */
  .profile-form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .profile-form .form-group {
    min-width: 300px; /* Adjusted width for larger screens */
  }
}
