/* хэдер */
/* General button styles */
.navbar .btn {
    background-color: transparent; /* Transparent background */
    color: #ffffff; /* Text color */
    border: none; /* Remove border */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Styles for the hover and active states */
  .navbar .btn:hover,
  .navbar .btn:focus,
  .navbar .btn:active {
    background-color: transparent; /* Background color on hover */
    color: #FFD2BE; /* Text color on hover */
    outline: none;
  }
  
  
  
  .navbar {
    background-color: #001A45; /* Deep blue background for navbar */
    position: fixed; /* Fix navbar at the top of the viewport */
    width: 100%; /* Ensure navbar spans full width */
    z-index: 1050; /* Sit on top of other content */
    height: 48px;
  }
  
  .navbar-brand {
    color: white; /* Brand text color */
    display: flex;
    align-items: center; /* Align logo and text vertically */
    font-family: 'Unbounded', sans-serif;
    font-weight: bold;
    font-size: 18px;
  }
  
  .logo {
    height: 24px;
    width: 24px;
    margin-right: 10px;
    margin-left: 20px;
  }
  
  .navbar-brand img {
    height: 40px; /* Set logo size */
    margin-right: 10px; /* Space between logo and text */
  }
  
  /* Navbar links styling */
  .navbar-nav {
    display: flex; /* Ensures flex properties apply to children */
    justify-content: center; /* Center navbar items horizontally */
    width: 100%; /* Take full width to distribute space */
  }
  
  /* Adjusted navbar link styles for hover */
  .navbar-nav .nav-link {
    color: white; /* Default color */
    transition: color 0.3s ease; /* Smooth transition for color change */
    text-decoration: none; /* No underline by default */
  }
  
  /* Hover state that changes only the text color */
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:focus {
    color: #FFD2BE; /* Light gray on hover, adjust if needed */
    background-color: transparent; /* Keeps the background unchanged */
  }
  
  /* Active state management */
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link:active {
    color: #cbd3e6; /* Color for active or clicked link */
  }
  
  /* Right-aligned profile button */
  .btn-profile {
    margin-left: auto; /* Pushes the profile button to the right */
    color: white;
    border-color: white; /* White border for the button */
  }
  
  .btn-profile:hover {
    color: #002366; /* Dark blue text on hover */
    background-color: #f8f9fa; /* Light background on hover */
  }