.button {
    background-color: #B5F62B; /* Основной цвет кнопки */
    color: black; /* Цвет текста */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Плавное изменение цвета */
  }
  
  .button:hover {
    background-color: #C9FF57; /* Цвет при наведении */
  }
  
  .button:active {
    background-color: #A9E922; /* Цвет при нажатии */
  }
  