/* Recent Requests */
.recent-requests {
    align-self: stretch;
    position: relative;
  }
  
  .recent-requests-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  /* Watch All */
  .watch-all {
    position: relative;
    font-weight: 500;
  }
  
  .icon-arrow-up {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .watch-all-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-small);
    text-align: left;
    font-size: var(--font-size-large);
    font-family: var(--font-secondary);
  }
  
  /* Frame Parent */
  .frame-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base);
    position: relative;
    z-index: 0;
    text-align: center;
    font-size: var(--font-size-xlarge);
    color: var(--color-dark-blue);
    font-family: var(--font-primary);
  }