/* хэдер */

.navbar {
  background-color: #001A45; /* Deep blue background for navbar */
  position: fixed; /* Fix navbar at the top of the viewport */
  width: 100%; /* Ensure navbar spans full width */
  z-index: 1050; /* Sit on top of other content */
}

.navbar-brand {
  color: white; /* Brand text color */
  display: flex;
  align-items: center; /* Align logo and text vertically */
}

.logo-img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-left: 20px;
}

.logo-text {
  color: #fff; /* White color */
  font-size: 1rem;
  font-weight: bold;
}

.navbar-brand img {
  height: 40px; /* Set logo size */
  margin-right: 10px; /* Space between logo and text */
}

/* Navbar links styling */
.navbar-nav {
  display: flex; /* Ensures flex properties apply to children */
  justify-content: center; /* Center navbar items horizontally */
  width: 100%; /* Take full width to distribute space */
}

/* Adjusted navbar link styles for hover */
.navbar-nav .nav-link {
  color: white; /* Default color */
  transition: color 0.3s ease; /* Smooth transition for color change */
  text-decoration: none; /* No underline by default */
}

/* Hover state that changes only the text color */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #FFD2BE; /* Light gray on hover, adjust if needed */
  background-color: transparent; /* Keeps the background unchanged */
}

/* Active state management */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:active {
  color: #cbd3e6; /* Color for active or clicked link */
}

/* Right-aligned profile button */
.btn-profile {
  margin-left: auto; /* Pushes the profile button to the right */
  color: white;
  border-color: white; /* White border for the button */
}

.btn-profile:hover {
  color: #002366; /* Dark blue text on hover */
  background-color: #f8f9fa; /* Light background on hover */
}

/* футер */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001A45;
  color: white;
  padding: 20px;
  font-size: 14px;
  position: relative;
}

.footer-left ul {
  list-style: none;
  padding: 0;
}

.footer-left ul li {
  margin-bottom: 10px;
}

.footer-left ul li a {
  color: white;
  text-decoration: none;
}

.footer-left ul li a:hover {
  text-decoration: underline;
}

.footer-center {
  text-align: center;
  color: rgba(255, 255, 255, 0.5); /* Semi-transparent */
}

.footer-logo-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  width: auto;
  height: auto;
  margin-right: 10px; /* Add some spacing between the logo and the name */
}

.footer-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}


.footer-right {
  text-align: right;
}

.footer-right p {
  margin: 0;
  margin-bottom: 10px;
}

