.success-banner {
    width: 1680px;
    height: 179px;
    border-radius: 16px;
    background-color: rgba(181, 246, 43, 0.3);
    margin-top: 56px;
    margin-left: 120px;
    margin-right: 120px;
    padding: 20px; 
  }
  
  .success-text {
    font-size: 20px;
    font-weight: bold;
    color: #001A45;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0px;
  }
  
  .success-subtext {
    font-size: 16px;
    color: #001A45;
    font-family: 'Inter', sans-serif;
  }
  
  input[type="text"] {
    margin-left: 16px;
    margin-top: 10px; 
    font-family: 'Inter', sans-serif;
    border-radius: 12px;
  }
  
  .social-media-buttons {
    display: flex;
    align-items: center;
  }
  
  .social-button {
    width: 64px;
    height: 64px;
    border: none;
    margin-right: 8px;
    background-color: transparent;
    cursor: pointer;
  }
  
  .share-link {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 480px;
    height: 44px;
  }
  
  .copy-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: -60px;
  }
  