/* Hero section styles */
.hero-section {
    display: flex;
    align-items: left;
    justify-content: space-between;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #FFD2BE;

    height: 800px;
    padding-right: 54px;
    padding-left: 120px;
    padding-top: 106px;
    overflow: hidden;
}

.hero-content {
}

.hero-title-wrapper {
    text-align: left;
}

.hero-title {
    font-size: 128px;
    font-weight: bold;
    color: #001A45;
    text-align: left; /* Ensures text alignment to the left */
    font-family: 'Unbounded', sans-serif;
  }

.hero-title span {
    display: block;
}

.hero-subtitle {
    font-size: 24px;
    color: #001A45;
    font-family: 'Inter', sans-serif;
}

.cta-button {
    padding: 10px 20px;
    background-color: #B5F62B;
    color: #001A45;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    width: 312px;
    height: 55px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.cta-button:hover {
    background-color: #A9E922;
}

.cta-button:active {
    background-color: #C9FF57;
    transform: scale(0.98);
}

.hero-graphic {
    /* width: 100%; 
    height: auto;  */
    width: 816px;
    height: auto;
    z-index: 1;
    object-fit: contain;
}

@media (max-width: 360px) {
    .hero-graphic {
        /* width: 100%; 
        height: auto;  */
        width: 392px;
        height: auto;
        z-index: 1;
        object-fit: contain;
        margin-left: -32px;

    }

    .hero-section {
        padding-left: 24px;
        padding-top: 32px;
        height: 643px;
    }

    .hero-title {
        font-size: 32px;
        font-weight: bold;
        color: #001A45;
        text-align: left; /* Ensures text alignment to the left */
        font-family: 'Unbounded', sans-serif;
      }
    
    .hero-title span {
        display: block;
    }
    
    .hero-subtitle {
        font-size: 20px;
        color: #001A45;
        font-family: 'Inter', sans-serif;
    }
}

@media (max-width: 1000px) {
    .hero-section {
      flex-direction: column;
      align-items: left;
      text-align: left;
    }
}