
/* Base.css */

/* Base settings to ensure consistency */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Unbounded', sans-serif;
}

/* Universal styling for sections */
.section {
    padding: 20px;
    box-sizing: border-box;
}

/* Base styles and global settings */
@font-face {
    font-family: 'Unbounded';
    src: url('../assets/fonts/Unbounded-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Unbounded', sans-serif;
}

a {
    color: #001A45;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
}

input, button {
    font-family: inherit;
}
